/* Itadmissionform.module.css */
.container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.admissionForm {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.admissionForm h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.formGroup {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.formGroup label {
    color: #333;
    font-weight: bold;
}

.formGroup input,
.formGroup select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    color: #333;
}

.formGroup input[type="file"] {
    padding: 3px;
}

button {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

@media (max-width: 600px) {
    .container {
        padding: 10px;
    }

    .admissionForm {
        gap: 10px;
    }

    .formGroup input,
    .formGroup select {
        font-size: 0.9rem;
    }

    button {
        font-size: 0.9rem;
    }
}
